/target
**/*.rs.bk
/bin/
/pkg/

# IDEA
/.idea/workspace.xml
/.idea/misc.xml
/.idea/dictionaries/

# profiles and benchmarks
*.log
perf.data*
callgrind.out.*

profiles/
puzzles-norg/
puzzles/
solutions-norg/
solutions/
